{% extends "blog/base.html" %}


{% block content %}
  <h1 class="post-title">
    {% if user.is_authenticated %}
    <p>Welcome, {{user.username}}! You've successfully logged in with email: {{user.email}}
    <div>
      <p> Google Profile Pic: </p>
      <img src="{{user.picture}}", alt="Google profile pic"></img>
    </div>
    <a class="button" href="{{ url_for('auth.logout') }}">LOGOUT</a>
    {% else %}
    <div>
    <p>Please Log in: </p>
    </div>

    {% endif %}

  </h1>
{% endblock %}